<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gamestar">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_twotone_videogame_asset_24"
        android:label="@string/app_name"
        android:gravity="center"
        android:roundIcon="@drawable/ic_twotone_videogame_asset_24"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <provider
            android:authorities="com.app.games"
            android:name=".GameProvider"
            android:enabled="true"
            android:exported="true">
        </provider>
        <activity android:name=".Edit"/>
        <activity android:name=".InsertGame"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gamestar.VideoActivity"
            android:label="Trailers">
        </activity>
        <service android:name=".Service" />
    </application>

</manifest>